@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center alert-danger">
    <h1 class ="display-4">Bine ai venit la magazinul nostru</h1>
    <p>Iti livram mancarea oriunde si oricand</p>
</div>

